*{
    padding:0;
    margin:0;
}
.head-text{
    color:rgb(49, 56, 58);
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    color: rgba(255, 255, 255, 0.959);
}
.content{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    flex-wrap: wrap;
    gap: 20px;
}